body{background-color: rgb(8, 82, 18)}

#top{
    background-image: radial-gradient(green, yellow, red);
    height: 400px;
}
#list{
    background-color: cornsilk;
}

h1{
    color: black; 
    font-family: cursive; 
    font-size: 26px;}

h2{
    color: blue; 
    font-size: 20px;}

h3{
    color: rgb(92, 11, 11);
    font-size: 16px;
}

h4{
    color: rgb(110, 7, 97);
    font-size: 14px;
}

button{
    margin: 20px;
    background-color: rgb(26, 212, 188);
    width: 150px;
    height: 75px;
    font-size: 18px;
}
/* #tv{
    background-color: cornsilk;
} */
#qFacts{
    margin-top: 50px;
}
#facts{
    list-style-type: circle;
    margin-left: 50px;
}
ol{
    list-style-type: upper-roman;
    margin-left: 50px;
}
#food{
    list-style-type: square;
    margin-left: 50px;
}